<div class="menu_popup_overflow" id="menu_popup_overflow">
    <div class="menu_popup_box">
        <div class="menu_popup">
            <div class="menu_butt_box">
                <div class="menu_ico"><i class="fas fa-file-download"></i></div>
                <div class="menu_butt_text">Save File With Keys and Friends</div>
            </div>
            <div class="menu_butt_box">
                <div class="menu_ico"><i class="fas fa-file-upload"></i></div>
                <div class="menu_butt_text">Upload File With Keys and Friends</div>
            </div>
            <div class="menu_butt_box">
                <div class="menu_ico"><i class="fas fa-key"></i></div>
                <div class="menu_butt_text">Give the Key to a Friend</div>
            </div>
            <div class="menu_butt_box">
                <div class="menu_ico"><i class="fas fa-cog"></i></div>
                <div class="menu_butt_text">Settings</div>
            </div>
            <div class="menu_butt_box">
                <div class="menu_ico"><i class="far fa-question-circle"></i></div>
                <div class="menu_butt_text">Features</div>
            </div>
            <div class="menu_butt_box">
                <div class="menu_ico"><i class="fas fa-virus"></i></div>
                <div class="menu_butt_text">Report a Bug</div>
            </div>
            <div class="app_version">v1.0.0</div>
        </div>
    </div>
</div>