<div id="chat_box">
  <div class="chat_inf_box">
    <div class="chat_inf">
      <div class="chat_elem_box">
        <div id="chat_back_ico"><i class="fas fa-arrow-left"></i></div>
        <div class="logo_ico" style="background-image: url('../../mess/img/logo2.jpg');"></div>
        <div id="chat_stats">
          <div class="chat_name">Amadeus Mozart</div>
          <div class="last_log">last seen 20 minutes ago</div>
        </div>
      </div>
      <div class="chat_cont">
        <div class="chat_cont_ico" id="chat_cont_search" onclick="alert('hello')">
          <i class="far fa-compass"></i>
        </div>
        <div class="chat_cont_ico" id="chat_cont_btn">
          <i class="fas fa-ellipsis-v"></i>
          <div id="chat_sett_popup_overflow">
            <div class="chat_sett_box" id="chat_cont_popup">
              <div class="chat_sett_popup">
                <div class="cs_ico"><i class="fas fa-volume-mute"></i></div>
                <div class="cs_text">Mute</div>
              </div>
              <div class="chat_sett_popup">
                <div class="cs_ico"><i class="far fa-check-circle"></i></div>
                <div class="cs_text">Select</div>
              </div>
              <div class="chat_sett_popup" id="cs_delete">
                <div class="cs_ico"><i class="fas fa-trash"></i></div>
                <div class="cs_text">Delete</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="trans">
    <div class="chat">
      <div class="chat_box">
        <div class="chat_scroll">
          <div class="mess_in_box">
            <div class="mess_in">
              <div class="mess_text">Hey</div>
              <div class="mess_time">17:34</div>
            </div>
          </div>
          <div class="mess_out_box">
            <div class="mess_out">
              <div class="mess_text">Hello</div>
              <div class="mess_time">17:35</div>
              <div class="mess_stat"><i class="fas fa-check"></i></div>
            </div>
          </div>
        </div>
        <div class="chat_input_box">
          <div class="chat_input">
            <input type="text" class="chat_input_but" placeholder="Message">
            <div class="inp_but_box">
              <div class="input_smile_ico"><i class="far fa-smile"></i></div>
              <div class="input_pin"><i class="fas fa-paperclip"></i></div>
              <button class="send"><i class="far fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>