<div id="left_box" class="scroll">
    <div class="cont_head">
        <div class="menu_btn" id="menu_btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="search_inp">
            <input type="text" class="search" placeholder="Search">
            <div class="search_ico">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <div class="start_chat_btn_box">
        <div class="start_chat_btn">
            <i class="fas fa-pencil-alt"></i>
        </div>
    </div>
    <div id="overflow_cont_box">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="conts_box" id="conts_box">
        <div class="conts_top">
            <div class="conts_scrolled">
                <div class="contact_box" id="contact_box">
                    <div class="cont_elem_box">
                        <div class="cont_logo" style="background-image: url(../../mess/img/logo.jpg);"></div>
                        <div class="cont_name_box">
                            <div class="cont_name">
                                <h3>Ivan Bogaevski</h3>
                                <div class="stat_time">11:48</div>
                            </div>
                            <div class="last_mess">
                                <h3>Hello)))</h3>
                                <div class="missed_mess">200</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_box">
                    <div class="cont_elem_box">
                        <div class="cont_logo" style="background-image: url(../../mess/img/logo1.jpg);"></div>
                        <div class="cont_name_box">
                            <div class="cont_name">
                                <h3>Mehail Roschakov</h3>
                                <div class="stat_time">07:14</div>
                            </div>
                            <div class="last_mess">
                                <h3><div class="last_mess_ico"><i class="fas fa-microphone-alt"></i></div>Voise Message</h3>
                                <div class="missed_mess">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_box contact_active">
                    <div class="cont_elem_box">
                        <div class="cont_logo" style="background-image: url(../../mess/img/logo2.jpg);"></div>
                        <div class="cont_name_box">
                            <div class="cont_name">
                                <h3>Amadeus Mozart</h3>
                                <div class="stat_time">now</div>
                            </div>
                            <div class="last_mess">
                                <h3><div class="last_mess_ico">You: Hello</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_box">
                    <div class="cont_elem_box">
                        <div class="cont_logo" style="background-image: url(../../mess/img/logo3.jpg);"></div>
                        <div class="cont_name_box">
                            <div class="cont_name">
                                <h3>Marusia Chyrai</h3>
                                <div class="stat_time">day ago</div>
                            </div>
                            <div class="last_mess">
                                <h3><div class="last_mess_ico"><i class="far fa-image"></i></div>Image</h3>
                                <div class="missed_mess">57</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_box">
                    <div class="cont_elem_box">
                        <div class="cont_logo" style="background-image: url(../../mess/img/logo3.jpg);"></div>
                        <div class="cont_name_box">
                            <div class="cont_name">
                                <h3>Marusia Chyrai</h3>
                                <div class="stat_time">day ago</div>
                            </div>
                            <div class="last_mess">
                                <h3><div class="last_mess_ico"><i class="far fa-image"></i></div>Image</h3>
                                <div class="missed_mess">57</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_box">
                    <div class="cont_elem_box">
                        <div class="cont_logo" style="background-image: url(../../mess/img/logo3.jpg);"></div>
                        <div class="cont_name_box">
                            <div class="cont_name">
                                <h3>Marusia Chyrai</h3>
                                <div class="stat_time">day ago</div>
                            </div>
                            <div class="last_mess">
                                <h3><div class="last_mess_ico"><i class="far fa-image"></i></div>Image</h3>
                                <div class="missed_mess">57</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_box">
                    <div class="cont_elem_box">
                        <div class="cont_logo" style="background-image: url(../../mess/img/logo3.jpg);"></div>
                        <div class="cont_name_box">
                            <div class="cont_name">
                                <h3>Marusia Chyrai</h3>
                                <div class="stat_time">day ago</div>
                            </div>
                            <div class="last_mess">
                                <h3><div class="last_mess_ico"><i class="far fa-image"></i></div>Image</h3>
                                <div class="missed_mess">57</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_box">
                    <div class="cont_elem_box">
                        <div class="cont_logo" style="background-image: url(../../mess/img/logo3.jpg);"></div>
                        <div class="cont_name_box">
                            <div class="cont_name">
                                <h3>Marusia Chyrai</h3>
                                <div class="stat_time">day ago</div>
                            </div>
                            <div class="last_mess">
                                <h3><div class="last_mess_ico"><i class="far fa-image"></i></div>Image</h3>
                                <div class="missed_mess">57</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_box">
                    <div class="cont_elem_box">
                        <div class="cont_logo" style="background-image: url(../../mess/img/logo3.jpg);"></div>
                        <div class="cont_name_box">
                            <div class="cont_name">
                                <h3>Marusia Chyrai</h3>
                                <div class="stat_time">day ago</div>
                            </div>
                            <div class="last_mess">
                                <h3><div class="last_mess_ico"><i class="far fa-image"></i></div>Image</h3>
                                <div class="missed_mess">57</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact_box">
                    <div class="cont_elem_box">
                        <div class="cont_logo" style="background-image: url(../../mess/img/logo3.jpg);"></div>
                        <div class="cont_name_box">
                            <div class="cont_name">
                                <h3>Marusia Chyrai</h3>
                                <div class="stat_time">day ago</div>
                            </div>
                            <div class="last_mess">
                                <h3><div class="last_mess_ico"><i class="far fa-image"></i></div>Image</h3>
                                <div class="missed_mess">57</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="conts_start_mess_box">
        <div class="start_mess_title">
            <div class="start_mess_back_btn">
                <i class="fas fa-arrow-left"></i>
            </div>
            Start a new chat
        </div>
        <div class="start_mess_cont_scroll">
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Ivan Bogaevski</div>
                    <div class="start_chat_stat">online</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo1.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Mehail Roschakov</div>
                    <div class="start_chat_stat">online</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo2.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Amadeus Mozart</div>
                    <div class="start_chat_stat">last seen 10 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo3.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Marusia Chyrai</div>
                    <div class="start_chat_stat">last seen 30 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Ivan Bogaevski</div>
                    <div class="start_chat_stat">last seen 40 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo1.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Mehail Roschakov</div>
                    <div class="start_chat_stat">last seen 1 houer ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo2.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Amadeus Mozart</div>
                    <div class="start_chat_stat">last seen 15 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo3.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Marusia Chyrai</div>
                    <div class="start_chat_stat">last seen 48 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Ivan Bogaevski</div>
                    <div class="start_chat_stat">last seen 40 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo1.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Mehail Roschakov</div>
                    <div class="start_chat_stat">last seen 1 houer ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo2.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Amadeus Mozart</div>
                    <div class="start_chat_stat">last seen 15 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo3.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Marusia Chyrai</div>
                    <div class="start_chat_stat">last seen 48 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Ivan Bogaevski</div>
                    <div class="start_chat_stat">last seen 40 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo1.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Mehail Roschakov</div>
                    <div class="start_chat_stat">last seen 1 houer ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo2.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Amadeus Mozart</div>
                    <div class="start_chat_stat">last seen 15 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo3.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Marusia Chyrai</div>
                    <div class="start_chat_stat">last seen 48 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Ivan Bogaevski</div>
                    <div class="start_chat_stat">last seen 40 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo1.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Mehail Roschakov</div>
                    <div class="start_chat_stat">last seen 1 houer ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo2.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Amadeus Mozart</div>
                    <div class="start_chat_stat">last seen 15 min ago</div>
                </div>
            </div>
            <div class="start_mess_cont_box">
                <div class="img" style="background-image: url('../../mess/img/logo3.jpg');"></div>
                <div class="name_surname_box">
                    <div class="name_surname">Marusia Chyrai</div>
                    <div class="start_chat_stat">last seen 48 min ago</div>
                </div>
            </div>
        </div>
    </div>
</div>