<div class="right_box" id="right_box">
  <div class="profile_info_box">
    <div class="pr_inf_header">
      <div class="inf_btn_back_box">
        <div id="back_box_ico"><i class="fas fa-arrow-left"></i></div>
      </div>
      <div class="pr_inf_text">Profile</div>
      <div class="inf_btn_edit">
        <div class="edit_bnt_ico"><i class="fas fa-pencil-alt"></i></div>
      </div>
    </div>
    <div class="pr_inf_body">
      <div class="inf_body_logo" style="background-image: url('../../mess/img/logo2.jpg');">
        <div class="pr_inf_logo_gradient">
          <div class="inf_body_head">
            <div class="inf_body_username">Amadeus Mozart</div>
            <div class="inf_body_login">last seen 20 minutes ago</div>
          </div>
        </div>
      </div>
      <div class="pr_inf_extra">
        <div class="extra_username">@ut2n_</div>
        <div class="extra_notif">
          <div class="extar_notif_ico"><i class="far fa-bell"></i></div>
          <div class="extra_notif_text">Notification</div>
          <label class="switch extra_notif_switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="inf_underline"></div>
      <div class="extra_files_menu_box">
        <div class="extra_menu" id="extra_menu">
          <div class="extra_menu_text">Media <div class="extra_active" style="opacity: 1;"></div></div>
          <div class="extra_menu_text">Files <div class="extra_active" style="opacity: 0;"></div></div>
          <div class="extra_menu_text">Links <div class="extra_active" style="opacity: 0;"></div></div>
          <div class="extra_menu_text">Music <div class="extra_active" style="opacity: 0;"></div></div>
          <div class="extra_menu_text">Voise <div class="extra_active" style="opacity: 0;"></div></div>
        </div>
      </div>
      <div class="pr_menu_container">
        <div id="pr_media_box" style="display: block;">
          <div class="media_pic media_video_pic">
            <img src="../../mess/img/logo.jpg" class="media">
            <span>1:58</span>
          </div>
          <div class="media_pic">
            <img src="../../mess/img/logo1.jpg" class="media">
          </div>
          <div class="media_pic">
            <img src="../../mess/img/logo2.jpg" class="media">
          </div>
          <div class="media_pic">
            <img src="../../mess/img/logo3.jpg" class="media">
          </div>
          <div class="media_pic media_video_pic">
            <img src="../../mess/img/logo.jpg" class="media">
            <span>10:34</span>
          </div>
          <div class="media_pic media_video_pic">
            <img src="../../mess/img/logo1.jpg" class="media">
            <span>0:16</span>
          </div>
          <div class="media_pic media_video_pic">
            <img src="../../mess/img/logo2.jpg" class="media">
            <span>0:15</span>
          </div>
          <div class="media_pic">
            <img src="../../mess/img/logo3.jpg" class="media">
          </div><div class="media_pic">
          <img src="../../mess/img/logo.jpg" class="media">
        </div>
          <div class="media_pic">
            <img src="../../mess/img/logo1.jpg" class="media">
          </div>
          <div class="media_pic">
            <img src="../../mess/img/logo2.jpg" class="media">
          </div>
          <div class="media_pic">
            <img src="../../mess/img/logo3.jpg" class="media">
          </div>
          <div class="media_pic media_video_pic">
            <img src="../../mess/img/logo.jpg" class="media">
            <span>45:14</span>
          </div>
          <div class="media_pic">
            <img src="../../mess/img/logo1.jpg" class="media">
          </div>
          <div class="media_pic">
            <img src="../../mess/img/logo2.jpg" class="media">
          </div>
          <div class="media_pic">
            <img src="../../mess/img/logo3.jpg" class="media">
          </div>
          <div class="clear"></div>
        </div>
        <div id="pr_files_box" style="display: none;">
          <div class="pr_file_container">
            <div class="file_cont_ico_box">
              <div class="file_cont_ico">
                <i class="far fa-image"></i>
              </div>
            </div>
            <div class="file_info_box">
              <div class="file_info_name">
                IMG_261421_22569936.jpg
              </div>
              <div class="file_info_size_date">
                <div class="file_info_size">4.9 MB</div>
                <div class="file_info_middot">•</div>
                <div class="file_info_date">16.04.2021 at 11:59</div>
              </div>
            </div>
          </div>
          <div class="pr_file_container">
            <div class="file_cont_ico_box">
              <div class="file_cont_ico">
                <i class="far fa-image"></i>
              </div>
            </div>
            <div class="file_info_box">
              <div class="file_info_name">
                IMG_261421_22569936.jpg
              </div>
              <div class="file_info_size_date">
                <div class="file_info_size">4.9 MB</div>
                <div class="file_info_middot">•</div>
                <div class="file_info_date">16.04.2021 at 11:59</div>
              </div>
            </div>
          </div>
          <div class="pr_file_container">
            <div class="file_cont_ico_box">
              <div class="file_cont_ico">
                <i class="far fa-image"></i>
              </div>
            </div>
            <div class="file_info_box">
              <div class="file_info_name">
                IMG_261421_22569936.jpg
              </div>
              <div class="file_info_size_date">
                <div class="file_info_size">4.9 MB</div>
                <div class="file_info_middot">•</div>
                <div class="file_info_date">16.04.2021 at 11:59</div>
              </div>
            </div>
          </div>
          <div class="pr_file_container">
            <div class="file_cont_ico_box">
              <div class="file_cont_ico">
                <i class="far fa-image"></i>
              </div>
            </div>
            <div class="file_info_box">
              <div class="file_info_name">
                IMG_261421_22569936.jpg
              </div>
              <div class="file_info_size_date">
                <div class="file_info_size">4.9 MB</div>
                <div class="file_info_middot">•</div>
                <div class="file_info_date">16.04.2021 at 11:59</div>
              </div>
            </div>
          </div>
          <div class="pr_files_datetime_box">September 2021</div>
          <div class="pr_file_container">
            <div class="file_cont_ico_box">
              <div class="file_cont_ico">
                <i class="far fa-image"></i>
              </div>
            </div>
            <div class="file_info_box">
              <div class="file_info_name">
                IMG_261421_22569936.jpg
              </div>
              <div class="file_info_size_date">
                <div class="file_info_size">4.9 MB</div>
                <div class="file_info_middot">•</div>
                <div class="file_info_date">16.09.2021 at 11:59</div>
              </div>
            </div>
          </div>
          <div class="pr_file_container">
            <div class="file_cont_ico_box">
              <div class="file_cont_ico">
                <i class="far fa-image"></i>
              </div>
            </div>
            <div class="file_info_box">
              <div class="file_info_name">
                IMG_261421_22569936.jpg
              </div>
              <div class="file_info_size_date">
                <div class="file_info_size">4.9 MB</div>
                <div class="file_info_middot">•</div>
                <div class="file_info_date">16.09.2021 at 11:59</div>
              </div>
            </div>
          </div>
        </div>
        <div id="pr_links_box" style="display: none;">
          <a href="https://www.youtube.com/watch?v=5qap5aO4i9A" target="_blank" class="pr_link_container_href">
            <div class="pr_links_container">
              <div class="pr_link_ico"><i class="fas fa-link"></i></div>
              <div class="pr_link_inf_box">
                <div class="pr_link_title">YouTube: lofi hiphop radio - beats to relax/stady to</div>
                <div class="pr_link_href">https://www.youtube.com/watch?v=5qap5aO4i9A</div>
                <div class="pr_link_desc">🤗 Thank you for listening, I hope you will have a good time here</div>
              </div>
            </div>
          </a>
          <a href="https://soundcloud.app.goo.gl/9Wq8W" target="_blank" class="pr_link_container_href">
            <div class="pr_links_container">
              <div class="pr_link_ico"><i class="fas fa-link"></i></div>
              <div class="pr_link_inf_box">
                <div class="pr_link_title">SoundCloud: alone in the end [demo]</div>
                <div class="pr_link_href">https://soundcloud.app.goo.gl/9Wq8W</div>
                <div class="pr_link_desc">final version https://itsok.bandcamp.com/track/2</div>
              </div>
            </div>
          </a>
          <a href="https://soundcloud.app.goo.gl/4s3tY" target="_blank" class="pr_link_container_href">
            <div class="pr_links_container">
              <div class="pr_link_ico"><i class="fas fa-link"></i></div>
              <div class="pr_link_inf_box">
                <div class="pr_link_title">SoundCloud: Night 17</div>
                <div class="pr_link_href">https://soundcloud.app.goo.gl/4s3tY</div>
                <div class="pr_link_desc">A beat a night for 25 nights in dedication to Seba Jun. </div>
              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=7FtHmaudaYE" target="_blank" class="pr_link_container_href">
            <div class="pr_links_container">
              <div class="pr_link_ico"><i class="fas fa-link"></i></div>
              <div class="pr_link_inf_box">
                <div class="pr_link_title">YouTube: Toxic (Score) - Anthony Willis (Visualizer) [from Promising Young Woman Official Soundtrack]</div>
                <div class="pr_link_href">https://www.youtube.com/watch?v=7FtHmaudaYE</div>
                <div class="pr_link_desc">Stream/download ‘Promising Young Woman: Original Motion Picture Soundtrack’ now: https://promisingyoungwomanost.lnk.to/pywID</div>
              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=tVdr_JWmnsA" target="_blank" class="pr_link_container_href">
            <div class="pr_links_container">
              <div class="pr_link_ico"><i class="fas fa-link"></i></div>
              <div class="pr_link_inf_box">
                <div class="pr_link_title">YouTube: Toxic</div>
                <div class="pr_link_href">https://www.youtube.com/watch?v=tVdr_JWmnsA</div>
                <div class="pr_link_desc">Provided to YouTube by Jive </br></br>Toxic · Britney Spears</div>
              </div>
            </div>
          </a>
        </div>
        <div id="pr_music_box" style="display: none;">
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_title">Come Over When You're Sober</div>
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">23:30</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
                <div class="pr_music_dot_autor_box" style="display: none;">
                  <div class="pr_music_middot">•</div>
                  <div class="pr_music_autor">lil peep</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_title">КАКАЯ РАЗНИЦА - Рассвет</div>
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">00:00</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line" style="width: 0;">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
                <div class="pr_music_dot_autor_box" style="display: none;">
                  <div class="pr_music_middot">•</div>
                  <div class="pr_music_autor">lil peep</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_title">Japanece Stutter</div>
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">02:06</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line" style="width: 100%;">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
                <div class="pr_music_dot_autor_box" style="display: none;">
                  <div class="pr_music_middot">•</div>
                  <div class="pr_music_autor">lil peep</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_title">WASTED (Slowed & Reverb)</div>
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">04:15</div>
                <div class="pr_music_progress" style="display: none;">
                  <div class="pr_music_progress_line">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
                <div class="pr_music_dot_autor_box" style="display: flex;">
                  <div class="pr_music_middot">•</div>
                  <div class="pr_music_autor">HVKEN X MURKISH</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_title">Come Over When You're Sober</div>
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">23:30</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
                <div class="pr_music_dot_autor_box" style="display: none;">
                  <div class="pr_music_middot">•</div>
                  <div class="pr_music_autor">lil peep</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_title">КАКАЯ РАЗНИЦА - Рассвет</div>
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">00:00</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line" style="width: 0;">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
                <div class="pr_music_dot_autor_box" style="display: none;">
                  <div class="pr_music_middot">•</div>
                  <div class="pr_music_autor">lil peep</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_title">Japanece Stutter</div>
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">02:06</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line" style="width: 100%;">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
                <div class="pr_music_dot_autor_box" style="display: none;">
                  <div class="pr_music_middot">•</div>
                  <div class="pr_music_autor">lil peep</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_title">WASTED (Slowed & Reverb)</div>
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">04:15</div>
                <div class="pr_music_progress" style="display: none;">
                  <div class="pr_music_progress_line">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
                <div class="pr_music_dot_autor_box" style="display: flex;">
                  <div class="pr_music_middot">•</div>
                  <div class="pr_music_autor">HVKEN X MURKISH</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="pr_voise_box" style="display: none;">
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-pause"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">00:15</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">01:28</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line" style="width: 0;">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">03:15</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line" style="width: 0;">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">00:48</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line" style="width: 0;">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pr_music_container">
            <div class="pr_music_play_btn">
              <i class="fas fa-play"></i>
            </div>
            <div class="pr_music_title_time_box">
              <div class="pr_music_time_progress_box">
                <div class="pr_music_time">00:30</div>
                <div class="pr_music_progress" style="display: block;">
                  <div class="pr_music_progress_line" style="width: 0;">
                    <span class="pr_progress_dot"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>